header {
    width: 100vw;
    position: fixed;
    background-color: #0000004f;
}

header section {
    height: 130px; /* 80px */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

.logo {
    width: 80px;
    height: 50px;
}

header ul.menu-descktop {
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3em;
    width: 50rem;
    height: 5rem;
}

header li, header a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

header a {
    font-weight: 400;
    font-size: clamp(2rem, 1.5vw, 2.5rem);
    margin: auto;
    padding: 1.8rem;
    color: #fff;
    text-decoration: none;
}
header a:hover {
    background-color: #ffffff41;
}

header #icon-menu {
    display: none;
    width: 50px;
    height: 50px;
    /* margin-right: 1rem; */
    background-image: url('../images/hamburger-icon-white.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

ul#ul-mobile {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #0000004f;
}

ul#ul-mobile li {
    overflow: hidden;
}

header img, #icon-menu {
    min-width: 5rem;
}

@media screen and (max-width: 1024px) {

    header ul.menu-descktop {
        display: none;
    }

    header #icon-menu {
        display: block;
    }

}